.header {
  display: flex;
  flex-direction: column;
}

.logo-div {
  align-self: center;
}

.logo-div img {
  width: 400px;
}

.links-div {
  display: flex;
  justify-content: space-evenly;
}

.link {
  width: 300px;
  display: flex;
  justify-content: center;
}

.links-div a {
  margin: 20px 20px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  padding: 4px;
}

.links-div a:hover {
  background-color: rgba(245, 245, 245, 0.4);
}
