* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.remove {
  color: whitesmoke;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
